:root {
    --color-background: #dbedf1;
    --color-blue-text: #0333d3;
    --color-red-text: #ff0040;
    --color-text: #1d1d1d;
    --color-green-line: #3eb63c;
    --color-blue-line: #3da0b4;
    --color-button: #1365f4;
    --color-button-hover: #186dff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    color: var(--color-text);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* overflow-y: auto;
    overflow-x: hidden; */
    background: #979b9a;    
    /* background: linear-gradient(to right, #003366 0%, #ffcc99 100%); */
    margin-top: -14px;
}

.container_mainpage {
    background: #222629;
    width: min(90%, 500px);
    margin: 0px auto;
    min-height: 655px;
}

#main {
    margin: 10px auto 0 auto;
    width: 500px;
}

.displayer-name {
    font-size: 24px;
    font-weight: normal;
    color: #6B6E70;
    text-align: center;
}

.displayer {
    font-size: 40px;
    font-weight: lighter;
    color: #d4d4d4;
    text-align: center;
    margin: 5px 0 10px 0;
}

#main > table {
    width: 500px;
}

    #main > table > tr > td {
        width: 250px;
    }

.button-name {
    font-size: 20px;
    font-weight: normal;
    color: #DEF2F1;
    text-align: center;
    margin-top: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 60px;
    margin: 10px 73px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: rgb(243, 237, 226);
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 2px 3px rgb(48, 48, 48);
    font-size: 40px;
    padding: 5px 0;
    text-align: center;
}

    .slider:before {
        content: "power_settings_new";
        font-family: "Material Icons";
        -webkit-transition: .02s;
        transition: .02s;
        color: gray;
    }

input:checked + .slider {
    box-shadow: 0 0 2px rgb(49, 49, 83);
}

    input:checked + .slider:before {
        color: #0140ec;
    }
    
.footer{
background:#3b3a33;
width:100%;
height:80px;
font-size: 25px;
position:absolute;
bottom:0;
left:0;
text-align: center;
}

#time{
margin: 5px auto;
width: 500px;
padding: 10px auto;
font-family: consolas;
font-size: 45px;
color: #d6d6d6;
border-radius: 10px;
text-align: center;
font-weight: bold;
}
#Title{
margin: 15px auto;
width: 500px;
padding: 10px auto;
font-family: segeo UI;
font-size: 18px;
color: rgb(243, 237, 226);
border-radius: 10px;
text-align: center;
font-weight: bold;
}
#Footer{
margin: 20px auto;
width: 500px;
padding: 10px auto;
font-family: verdana;
font-size: 20px;
color: rgb(221, 214, 200);
border-radius: 10px;
text-align: center;
font-weight: bold;
font-family: Segoe UI;
text-decoration: none;
}
#Footer>h4>a{
color:rgb(221, 214, 200)!important; 
text-decoration: none;
}
#Footer>h4>a:hover{
color:rgb(34, 122, 255)!important;
}

.container_mic {
padding-top: 10px;
margin: 0 auto;
display: flex;
justify-content: center;
}

.circle_mic {
width: 60px;
height: 60px;
background-color: white;
border-radius: 50%;
display: flex;
justify-content: center;
}

.circle_mic:hover {
    background-color: #2e3b85;
    /* transition-duration: 5s; */
}


.mic {
height: 35px;
margin-top: 12px;
}

.mic:hover {
cursor: pointer;
}

/* Toast Message */
#light-1, #light-2, #fan-1, #engine-1 {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #light-1.show, #light-2.show, #fan-1.show, #engine-1.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  #password-popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: #12c2e9;
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  }
#password-popup>ul{
      display: block;
      list-style: none;
      width: 400px;
      height: 340px;
      margin: 200px auto 0 auto;
      background: white;
      border-radius: 5px;
      padding: 30px;
      box-sizing: border-box;
}
#password-popup>ul>li>h1{
      text-align: center;
      margin-bottom: 24px;
}
#password-popup>ul>li>label{
    text-align: center;
    font-size: 14px;
}
#password-popup>ul>li>input{
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 12px;
    padding: 8px 15px;
    width: 340px;
    box-sizing: border-box;
}
#password-popup>ul>li>button{
    border: none;
    background: rgb(6, 160, 96);
    color: white;
    font-size: 18px;
    padding: 10px;
    width: 200px;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 25px 70px 10px 70px;
    transition: 0.2s;
    cursor: pointer;
}
#password-popup>ul>li>button:hover{
    background: rgb(3, 189, 111);
}
#password-popup>ul>li>button:active{
    background: rgb(6, 160, 96);
}
#login-msg{
    color: rgb(196, 7, 7);
    font-style: italic;
}
.hide-animation-class{
    animation-name: mymove;
    animation-duration: 1s;
}
@keyframes mymove {
    from {top: 0%;}
    to {top: -100%;}
}
.hide{
    display: none;
}